#homeTitle {
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#publicConcertCard {
    text-align: center;
}

#genreSidebar {
    margin-right: 4em;
}