
<!-- Displays genre sidebar on homepage -->
<div class="row">
  <div class="col-2" id="genreSidebar">
    <concert-filter [genre]="genre"></concert-filter>
  </div>
  
  <div class="col">
    <!-- Source code for bootstrap's card: https://getbootstrap.com/docs/4.0/components/card/ -->
    <!-- Displays concert cards on homepage -->
    <div class="row">
      <ng-container *ngFor="let c of filteredConcerts; let i = index">   
        <div class="col">
          <concert-card [concert]="c"></concert-card>
        </div>
        <div *ngIf="(i+1) % 2 === 0" class="w-100"><br></div>  
      </ng-container>
    </div>  
  </div>
</div>