<br>
<p>
<a routerLink="/review/new" class="btn btn-primary">Add a Review</a>
</p>
<table class="table">
    <thead>
        <tr>
            <!-- TO DO: add user name -->
            <th>User</th>
            <th>Title</th>
            <th>Content</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of reviews$ | async">
            <td>{{ r.title }}</td>
            <td>{{ r.content }}</td>
            <td>
                <a [routerLink]="['/reviews/', r.$key]">Edit</a>
            </td>
        </tr>
    </tbody>
</table>